.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.head {
  background-color: blue;
  color: white;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.underline {
  height: 4px;
  width: 600px;
  background-color: red;
  border: radius 8px;
  margin-bottom: 16px;
}

.h3 {
  margin-left: 10px;
}

.zoom {
  transition: transform 0.2s;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(
    1.1
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.some {
  margin-left: 10px;
  margin-right: 10px;
}
